body {
   /* background-color: aqua; */
}

h1 {
   padding-top: 60px;
   padding-left: 80px;
}

.btn {
   margin: 10px;
}
.input-group {
   padding-top: 100px;
   
}

.one {
   background-color: blue;
   padding: 50px;
}

.two {
   /* background: chocolate; */
   width: 90px;
   height: 60px;
   border: 3px solid rgb(223, 13, 13);
}

.three {
  border: 3px solid rgb(223, 13, 13);

}

.out {
   margin: 20px;
}

.block-1 {
   width: 200px;
   height: 250px;
   border: 3px solid blue;
   margin: 10px;
}

